.usandoEachblue {
  background-color: blue;
}

.usandoEachyellow {
  background-color: yellow;
}

.usandoEachorange {
  background-color: orange;
}

.usandoEachred {
  background-color: red;
}

.usandoEachgreen {
  background-color: green;
}

.fondoRedesEach-facebook {
  color: blue;
}

.fondoRedesEach-instgram {
  color: orange;
}

.fondoRedesEach-spotify {
  color: green;
}

.fondoRedesEach-twiiter {
  color: lightblue;
}

.caja-chica {
  width: 100px;
  height: 100px;
}

.caja-mediana {
  width: 150px;
  height: 150px;
}

.caja-grande {
  width: 200px;
  height: 200px;
}

.flex__footer {
  display: flex;
  flex-direction: row;
  font-family: "Ms Madi", cursive;
  font-size: 50px;
  align-items: center;
  min-width: 320px;
  justify-content: space-evenly;
}

.colorFooter {
  background-color: #ffffff;
}

.colorRedes {
  color: #D97F89;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #D97F89;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  right: 0;
}

header .header__open {
  /*icono*/
  display: none;
}

.flex__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.flex__links .links {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.tamano_foto_carrousel {
  width: 200px;
  height: 200px;
}

.alturamain {
  padding-top: 1rem;
  min-height: 100vh;
}

.seccion {
  width: 100%;
  padding: 1rem;
}

/*flexbox*/
.flex {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  /*viene por defecto*/
}

.colorFondo {
  /*background-color:#FAD7D1 ;*/
  background-image: linear-gradient(to top, white, #fdb4bf);
}

.tamanoImg {
  width: 90px;
  height: 90px;
}

.tamanoFotoArtistas {
  width: 200px;
  height: 200px;
}

.redondo {
  border: 15px solid white;
}

.tamanoFuente {
  margin-top: 1rem;
  font-size: 50px;
  color: black;
}

.fuenteTitulo {
  padding-left: 20px;
  font-family: "Ms Madi", cursive;
}

.fuenteTablaArtistas {
  font-size: 30px;
}

.fuenteQuienesSomos {
  font-size: 20px;
  color: #D97F89;
  text-align: center;
  line-height: 1.8;
  font-size: 30px;
}

.fuenteIndex {
  font-size: 20px;
  font-family: "Ms Madi", cursive;
  color: #D97F89;
  text-align: center;
  line-height: 2;
}

.tamanoFoto {
  width: 100px;
  height: 100px;
}

.mapa__redondo {
  width: 600px;
  height: 600px;
  border-radius: 30px;
}

.cerrar__jam {
  display: none;
}

.columna__contactanos {
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 1rem;
  max-width: 1000px;
  max-height: 1000px;
}

.alturamain {
  padding-top: 1rem;
}

.columna__contactanos {
  padding: 1rem;
}

.separar {
  padding: 5px;
}

.separacion {
  padding-bottom: 1rem;
}

.slide-top {
  -webkit-animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/*grid nuestras artistas*/
.grid_nuestas_artistas {
  display: grid;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-top: 10px;
  border-width: 10px;
  max-width: 90%;
  min-height: 100vh;
  align-items: center;
  padding-left: 15%;
  grid-template-areas: "ela1 ela2 ela2" "ela3 ela4 ela4" "ela5 ela6 ela6";
}

.grid__hijos_artistas {
  padding: 1rem;
  align-content: space-around;
  justify-content: right;
}

.grid__hijos_img {
  width: 300px;
  height: 300%;
  object-fit: cover;
  border-radius: 150px;
}

.grid__hijo_artistas1 {
  grid-area: ela1;
}

.grid__hijo_artistas2 {
  display: grid;
  grid-area: ela2;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.grid__hijo_artistas3 {
  grid-area: ela3;
}

.grid__hijo_artistas4 {
  display: grid;
  grid-area: ela4;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.grid__hijo_artistas5 {
  grid-area: ela5;
}

.grid__hijo_artistas6 {
  display: grid;
  grid-area: ela6;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/*grid*/
.grid {
  width: 100%;
  padding: 1rem;
  min-height: 800px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 400px 300px 400px 300px;
  justify-content: center;
  margin: 0;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "ele10 ele10 ele3 ele4" "ele5 ele8 ele9 ele9" "ele12 ele1 ele7 ele6" "ele12 ele2 ele11 ele11";
}

.grid__hijo {
  /* display: grid;*/
  border-radius: 15px;
  text-align: center;
}

.grid__hijo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px;
}

.grid__hijo1 {
  grid-area: ele1;
}

.grid__hijo2 {
  grid-area: ele2;
}

.grid__hijo3 {
  grid-area: ele3;
}

.grid__hijo4 {
  grid-area: ele4;
}

.grid__hijo5 {
  grid-area: ele5;
}

.grid__hijo6 {
  grid-area: ele6;
}

.grid__hijo7 {
  grid-area: ele7;
}

.grid__hijo8 {
  grid-area: ele8;
}

.grid__hijo9 {
  grid-area: ele9;
}

.grid__hijo10 {
  grid-area: ele10;
}

.grid__hijo11 {
  grid-area: ele11;
}

.grid__hijo12 {
  grid-area: ele12;
}

.indexPrueba {
  width: 100%;
  padding: 1rem;
  min-height: 600px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  text-align: center;
  grid-template-areas: "ala1 ala2 ala2" "ala3 ala3 ala4" "ala5 ala5 ala6";
}

.indexPrueba__hijo1 {
  grid-area: ala1;
  font-size: 40px;
  background-color: #D97F89;
}

.indexPrueba__hijo2 {
  grid-area: ala2;
  font-size: 40px;
  background-color: #f57d90;
}

.indexPrueba__hijo3 {
  grid-area: ala3;
  font-size: 40px;
  background-color: #f1889b;
}

.indexPrueba__hijo4 {
  grid-area: ala4;
  font-size: 40px;
  background-color: #f99aaa;
}

.indexPrueba__hijo5 {
  grid-area: ala5;
  font-size: 40px;
  background-color: #fdb4bf;
}

.indexPrueba__hijo6 {
  grid-area: ala6;
  font-size: 40px;
  background-color: #ffcdd4;
}

/*medias queris*/
@media screen and (max-width: 1023px) {
  .flex__nav {
    flex-direction: column;
  }
  .flex__links {
    display: none;
    font-size: 25px;
    height: 55px;
    padding-top: 11px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .tamanoFoto {
    width: 10px;
    height: 10px;
  }
  .fuenteTablaArtistas {
    font-size: 20px;
  }
  .grid_nuestas_artistas {
    display: grid;
    flex-direction: row;
    justify-content: center;
    padding: 1px;
    border-top: 1px;
    max-width: 90%;
    min-height: 90vh;
    align-items: center;
    padding-left: 15%;
    grid-template-areas: "ela1 ela2 ela2" "ela3 ela4 ela4" "ela5 ela6 ela6";
  }
  .grid__hijos_artistas {
    display: grid;
    align-items: center;
    align-content: center;
    margin: 1px;
    padding: 1px;
    justify-content: center;
    text-align: center;
  }
  .indexPrueba {
    display: grid;
    min-height: 300px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "ala1 ala2 ala2" "ala3 ala3 ala4" "ala5 ala5 ala6";
  }
  .indexPrueba__hijo1 {
    display: grid;
    grid-area: ala1;
    font-size: 20px;
    background-color: #D97F89;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  .indexPrueba__hijo2 {
    grid-area: ala2;
    font-size: 20px;
    background-color: #f57d90;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }
  .indexPrueba__hijo3 {
    grid-area: ala3;
    font-size: 20px;
    background-color: #f1889b;
    align-items: center;
    align-content: center;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .indexPrueba__hijo4 {
    grid-area: ala4;
    font-size: 20px;
    background-color: #f99aaa;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }
  .indexPrueba__hijo5 {
    grid-area: ala5;
    font-size: 20px;
    background-color: #fdb4bf;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }
  .indexPrueba__hijo6 {
    grid-area: ala6;
    font-size: 20px;
    background-color: #ffcdd4;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }
  .tamanoFotoArtistas {
    width: 200px;
    height: 200px;
  }
  .grid {
    display: grid;
    border: 1px;
    width: 100%;
    min-height: 2000px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
    justify-content: center;
    margin: 0;
    row-gap: 1px;
    padding: 5px;
    grid-template-areas: "ele3 ele4" "ele9 ele9" "ele5 ele1"          "ele10 ele10" "ele12 ele2" "ele11 ele11" "ele6 ele7"         "ele8 ele8";
  }
  .grid__hijo img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 100px;
    max-height: 400px;
  }
  .grid__hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    padding-bottom: 1rem;
  }
  .grid__hijo1 {
    grid-area: ele1;
  }
  .grid__hijo2 {
    grid-area: ele2;
  }
  .grid__hijo3 {
    grid-area: ele3;
  }
  .grid__hijo4 {
    grid-area: ele4;
  }
  .grid__hijo5 {
    grid-area: ele5;
  }
  .grid__hijo6 {
    grid-area: ele6;
  }
  .grid__hijo7 {
    grid-area: ele7;
  }
  .grid__hijo8 {
    grid-area: ele8;
  }
  .grid__hijo9 {
    grid-area: ele9;
  }
  .grid__hijo10 {
    grid-area: ele10;
  }
  .grid__hijo11 {
    grid-area: ele11;
  }
  .grid__hijo12 {
    grid-area: ele12;
  }
  .tamanoFuente {
    font-size: 45px;
    color: black;
  }
  .fuenteTitulo {
    padding-left: 15px;
    font-family: 'Ms Madi', cursive;
  }
  .mapa__redondo {
    width: 550px;
    height: 300px;
    border-radius: 30px;
  }
}

.flex__footer {
  display: flex;
  flex-direction: row;
  font-family: "Ms Madi", cursive;
  font-size: 25px;
  margin-top: 1rem;
  align-items: center;
  align-content: center;
  text-align: center;
}

.columna__contactanos {
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 1rem;
  max-width: 500px;
  max-height: 500px;
}

.alturamain {
  padding-top: 10rem;
}

.columna__contactanos {
  padding: 1rem;
}

.separar {
  padding: 5px;
}

.separacion {
  padding-bottom: 6rem;
}

.flex__footerhijo3 {
  align-items: center;
  align-content: center;
}

.flex__footerhijo2 {
  align-items: center;
  align-content: center;
  padding-top: 13px;
}

.flex__footerhijo1 {
  align-items: center;
  align-content: center;
}

/*media queris mobile*/
@media screen and (max-width: 600px) {
  .tamanoFoto {
    width: 50px;
    height: 50px;
  }
  .fuenteTablaArtistas {
    font-size: 20px;
  }
  .indexPrueba {
    width: 100%;
    padding: 1rem;
    width: 100%;
    height: 650px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "ala1" "ala2" "ala3" "ala4" "ala5" "ala6";
  }
  .indexPrueba__hijo1 {
    grid-area: ala1;
    font-size: 20px;
    background-color: #D97F89;
  }
  .indexPrueba__hijo2 {
    grid-area: ala2;
    font-size: 20px;
    background-color: #f57d90;
  }
  .indexPrueba__hijo3 {
    grid-area: ala3;
    font-size: 20px;
    background-color: #f1889b;
  }
  .indexPrueba__hijo4 {
    grid-area: ala4;
    font-size: 20px;
    background-color: #f99aaa;
  }
  .indexPrueba__hijo5 {
    grid-area: ala5;
    font-size: 20px;
    background-color: #fdb4bf;
  }
  .indexPrueba__hijo6 {
    grid-area: ala6;
    font-size: 20px;
    background-color: #ffcdd4;
  }
  .flex__links {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    gap: 1px;
    padding: 1rem;
  }
  .flex__footer {
    display: flex;
    flex-direction: column;
    font-family: "Ms Madi", cursive;
    font-size: 30px;
    margin-top: 1rem;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
  }
  .flex__footerhijo3 {
    align-items: center;
    align-content: center;
  }
  .flex__footerhijo2 {
    align-items: center;
    align-content: center;
    padding-top: 1px;
  }
  .flex__footerhijo1 {
    align-items: center;
    align-content: center;
  }
  .grid_nuestas_artistas {
    display: grid;
    justify-content: center;
    border-left: 5px;
    border-top: 10px;
    border-width: 10px;
    max-width: 90%;
    min-height: 50vh;
    align-items: center;
    padding-left: 5%;
    grid-template-areas: "ela1" "ela2" "ela3" "ela4" "ela5" "ela6";
  }
  .grid__hijos_artistas {
    align-items: center;
    align-content: center;
  }
  .grid__hijo_artistas1 {
    grid-area: ela1;
  }
  .grid__hijo_artistas2 {
    grid-area: ela2;
    padding-bottom: 50px;
  }
  .grid__hijo_artistas3 {
    grid-area: ela3;
  }
  .grid__hijo_artistas4 {
    grid-area: ela4;
    padding-bottom: 50px;
  }
  .grid__hijo_artistas5 {
    grid-area: ela5;
  }
  .grid__hijo_artistas6 {
    grid-area: ela6;
    padding-bottom: 50px;
  }
  .tamanoFotoArtistas {
    width: 150px;
    height: 150px;
  }
  .grid {
    border: 1px;
    width: 100%;
    min-height: 1600px;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 300px 400px 300px 300px 300px 400px 400px 400px 400px 400px 400px 300px;
    justify-content: center;
    margin: 0;
    row-gap: 5px;
    grid-template-areas: "ele12" "ele4" "ele10" "ele5" "ele7" "ele2" "ele8" "ele1"      "ele9" "ele3" "ele11" "ele6";
  }
  .grid__hijo img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50px;
  }
  .grid__hijo1 {
    grid-area: ele1;
  }
  .grid__hijo2 {
    grid-area: ele2;
  }
  .grid__hijo3 {
    grid-area: ele3;
  }
  .grid__hijo4 {
    grid-area: ele4;
  }
  .grid__hijo5 {
    grid-area: ele5;
  }
  .grid__hijo6 {
    grid-area: ele6;
  }
  .grid__hijo7 {
    grid-area: ele7;
  }
  .grid__hijo8 {
    grid-area: ele8;
  }
  .grid__hijo9 {
    grid-area: ele9;
  }
  .grid__hijo10 {
    grid-area: ele10;
  }
  .grid__hijo11 {
    grid-area: ele11;
  }
  .grid__hijo12 {
    grid-area: ele12;
  }
  .tamanoFuente {
    font-size: 50px;
    color: black;
  }
  .mapa__redondo {
    width: 400px;
    height: 400px;
    border-radius: 30px;
  }
  .columna__contactanos {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 1rem;
    max-width: 500px;
    max-height: 500px;
  }
  .flex__nav {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .header__open {
    display: block;
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  #lateral {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 100;
    transition: right 1.5s;
  }
  #lateral:target {
    right: 0;
  }
  .nav__item--close {
    display: block;
  }
  .flex__links {
    display: none;
    display: flex;
    font-size: 50px;
    height: 5%;
    padding-top: 50%;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-style: bold;
  }
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .links {
    color: #D97F89;
    height: 1vh;
    font-size: 20px;
    font-size: 25px;
  }
  .cerrar__jam {
    display: block;
  }
  .tamanoFuente {
    font-size: 40px;
    color: black;
  }
  .fuenteTitulo {
    padding-left: 15px;
    font-family: "Ms Madi", cursive;
  }
  header {
    background-color: #D97F89;
  }
  header .header__open {
    /*icono*/
    display: block;
  }
  .alturamain {
    padding-top: 6rem;
  }
  .columna__contactanos {
    padding: 1rem;
  }
  .separar {
    padding: 5px;
  }
  .separacion {
    padding-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */