.flex__footer{
    display: flex;
    flex-direction: row;
    font-family: $fuente__principal;
  
    align-items: center;
    text-align: center;
    min-width: 320px;
    justify-content: space-evenly ;
    text-shadow: 7px 4px 10px rgb(253, 113, 218); 
    font-size: 40px; 
    
}


.colorFooter{
    background-color: #ffffff;
}

.colorRedes {
    color:$color__principal;
    text-decoration: none;
    text-shadow: 7px 4px 10px rgb(253, 113, 218);
    font-size: 35px;  
}

.flex__footerhijo2{
    text-decoration: none;
    text-shadow: 7px 4px 10px rgb(253, 113, 218);
    font-size: 35px;  
    margin-bottom: 0;
}

.tamanoImg{
    border-radius: 50px;
}
