/*grid nuestras artistas*/
.grid_nuestas_artistas{
    display: grid;
    flex-direction: row;
    justify-content: center ;
    padding: 10px;
    border-top: 10px;
  
    border-width: 10px;
    max-width: 90%;
    min-height: 100vh;
    align-items: center;
    padding-left: 15%;
    grid-template-areas:
    "ela1 ela2 ela2"
    "ela3 ela4 ela4"
    "ela5 ela6 ela6"
    ;

}

.grid__hijos_artistas{
    
    padding: 1rem;
    align-content: space-around;
    justify-content: right;

    

}

.grid__hijos_img{
    width: 300px;
    height: 300%;
    object-fit: cover;
    border-radius: 150px;
}

.grid__hijo_artistas1{
    grid-area: ela1;
    
}
.grid__hijo_artistas2{
    display: grid;
    grid-area: ela2;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.grid__hijo_artistas3{
    grid-area: ela3;
}

.grid__hijo_artistas4{
    display: grid;
    grid-area: ela4;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}
.grid__hijo_artistas5{
    grid-area: ela5;
}
.grid__hijo_artistas6{
    display: grid;
    grid-area: ela6;
    align-content: center;
    justify-content: center;
    text-align: center;
   
}



/*grid*/
.grid { 
   
    width: 100%;
    padding: 1rem;
    min-height: 800px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 400px 300px 400px 300px;
    justify-content: center;
    margin-top: 1rem;
    column-gap: 5px;
    row-gap: 5px;

    grid-template-areas:  
    "ele10 ele10 ele3 ele4"
    "ele5 ele8 ele9 ele9"
    "ele12 ele1 ele7 ele6"
    "ele12 ele2 ele11 ele11" ;

}


.grid__hijo{
   /* display: grid;*/
  
    border-radius: 15px;
    text-align: center;
}

.grid__hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px;
}



.grid__hijo1{
    grid-area: ele1;
}

.grid__hijo2{
    grid-area: ele2;   
}

.grid__hijo3{
    grid-area: ele3;
}

.grid__hijo4{
    grid-area: ele4;

}
.grid__hijo5{
    grid-area: ele5;
}

.grid__hijo6{
    grid-area: ele6;
}

.grid__hijo7{
    grid-area: ele7;
}

.grid__hijo8{
    grid-area: ele8;
}

.grid__hijo9{
    grid-area: ele9;
}

.grid__hijo10{
    grid-area: ele10;
}

.grid__hijo11{
    grid-area: ele11;
}

.grid__hijo12{
    grid-area: ele12;
}
