*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header{
    background-color: $color__principal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    margin-bottom: 25rem;
    
    
    .header__open{ /*icono*/
        display: none;
       }
}

.flex__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   
}

.flex__links{
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    gap:16px;
    
    .links{
        text-decoration: none;
        color: black;
        font-size: 17px;
        text-shadow: 2px 2px 5px rgb(255, 255, 255);
    }



}