
.alturamain{
    padding-top: 1rem;
    min-height: 100vh;
}

.seccion {
    width: 100%;
    padding: 1rem;
}

/*flexbox*/

.flex{

    text-decoration: none;
    display: flex;
    flex-direction: row; /*viene por defecto*/

}

.colorFondo{

    background-image: linear-gradient(to top, white,#fdb4bf);
}



.tamanoImg {
    width: 90px;
    height: 90px;
}

.tamanoFotoArtistas{
    width: 200px;
    height: 200px;
}


.redondo {
    border: 15px solid white;
}



.tamanoFuente{
    margin-top: 7rem;
    font-size: 50px;
    color:black;
    text-shadow: $sombra__texto;
}

.fuenteTitulo{
    padding-left: 20px;   
    font-family: $fuente__principal;
}



.fuenteTablaArtistas{
    font-size: 50px;
    text-shadow: $sombra__texto;  
    font-family: $fuente__principal;
}

.fuenteQuienesSomos{
    font-size: 20px;
    color: $color__principal;
    text-align: center;
    line-height: 1.8;
    font-size: 30px;
    font-family: $fuente__principal;
    text-shadow: $sombra__texto;
}


.fuenteIndex{
    font-size: 20px;
    font-family: $fuente__principal;
    color: $color__principal;
    text-align: center;
    line-height: 2;
}


.tamanoFoto{
   width: 100px;
   height: 100px;
}


.mapa__redondo{
    width: 400px;
    height: 500px;
    border-radius: 30px;
    margin: 0.5rem;
 }

.cerrar__jam{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    width: 90%;
    padding-bottom: 1rem;
    height: 80px;
    justify-content: center;
}

.columna__contactanos{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    height: 800px;
    
}


.row__contactanos{
    width: 400px;
    padding-top: 5rem;
   
}


.alturamain{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.separar{
   
    padding: 15px;
   
    min-height: 10px;
    text-align: center;
}



.flex__home{
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.3rem;
    
    text-align: center;
    width: 100%;

}

.flex__home__index{
    margin: 0.3rem;
    max-width: 1000px;
    
}
.flex__home__hijo1{
    grid-area:hij1;
    margin: 1rem;
    }
    
    .flex__home__hijo2{
    grid-area:hij2;
    margin: 1rem;
    
    }
    
    .flex__home__hijo3{
    grid-area:hij3;
    margin: 1rem;
    }


.texto__home1{
    font-family: $fuente__principal;
    font-size:35px;
    text-align: center;
    text-indent: 60px;
    text-shadow: $sombra__texto;
}

.texto__home2{
    font-family: $fuente__principal;
    font-size:47px;
    text-align: right;
    text-shadow: $sombra__texto;
}

.carousel{
  
    align-items: center;
    justify-content: center;
    
}

.w-80{
    max-width: 700px;
    max-height: 460px;
    border-radius: 50px;
}

.flex__trabajos{
   
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: normal;
    justify-content: space-evenly;
    max-width: 100%;
    height: 600px;
   
    
}

.card-tarjeta{
    width: 300px; 
    margin: 10px;
    border-radius: 35px;
    background-color: white;
  
}

.card-img-top-tarjeta{
    border-radius: 35px;
    width: 300px;
    height: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.btn-tarjeta{
   display: flex;
  flex-direction: column;
    width: 100px;
    text-align: center;
    margin-top: 35px;
    text-decoration: none;
   
}

.btn-primary{
    color: rgba(0, 0, 0, 0.418);
    background-color: #fdb4bf;
    border-color: #fdb4bf;
    border-radius: 10px;
    
}

.btn-primary:hover{
    background-color:#fdb4bf94;
    border-color: #fdb4bf;
}

.btn-primary:active{
    background-color: #fdb4bf;
    border-color: #fdb4bf;
}

.btn-primary:visited{
    background-color: #fdb4bf;
    border-color: #fdb4bf;
}

.btn-primary:link{
    background-color: #fdb4bf;
    border-color: #fdb4bf;
}




.card-title-tarjeta{
    padding-bottom: 35px;

}



.slide-top {
	-webkit-animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(-60px);
              transform: translateY(-60px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  