
/*medias queris*/

@media screen and (max-width: 1023px) {
   

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }



    .flex__nav{
        flex-direction: column;
    }

  
   

    .flex__links{
        display: none;        
         font-size: 25px;
         height: 55px;
         padding-top: 11px;
         display: flex;
        justify-content: flex-end;
        align-items: flex-end;
     }


        .tamanoFoto{
            width: 10px;
            height: 10px;
         }
         
     
        
        .fuenteTablaArtistas{
            font-size: 20px;
              
        }
   

        .grid_nuestas_artistas{
            display: grid;
            flex-direction: row;
            justify-content: center ;
            padding: 1px;
            border-top: 1px;
            max-width: 90%;
            min-height: 90vh;
            align-items: center;
            padding-left: 15%;
            grid-template-areas:
            "ela1 ela2 ela2"
            "ela3 ela4 ela4"
            "ela5 ela6 ela6"
            ;
        
        }

    .grid__hijos_artistas{
        display: grid;
        align-items: center;
        align-content: center;
        margin: 1px;
        padding: 1px;
    
        justify-content: center;
        text-align: center;
    }
 


   



 .tamanoFotoArtistas{
        width: 200px;
        height: 200px;
    }
  

    .grid { 
        display:grid;
        border: 1px;
        width: 100%;
        min-height: 2000px;
        
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
       
        justify-content: center;
        margin: 0;
        row-gap: 1px;
        padding: 5px;
        grid-template-areas:  
        "ele3 ele4"
        "ele9 ele9"
        "ele5 ele1"        
        "ele10 ele10"
        "ele12 ele2"
        "ele11 ele11"
        "ele6 ele7"        
        "ele8 ele8"
        ;



        &__hijo img {
            width: 95%;
            height: 95%;
            object-fit: cover;
            border-radius: 100px;
            max-height: 400px;
        }
    }
    

    
     .grid__hijo img {
         width: 100%;
         height: 100%;
         object-fit: cover;         
         border-radius: 100px;
         padding-bottom: 1rem;
     }
     
     
     
     .grid__hijo1{
         grid-area: ele1;
     }
     
     .grid__hijo2{
         grid-area: ele2;   
     }
     
     .grid__hijo3{
         grid-area: ele3;
     }
     
     .grid__hijo4{
         grid-area: ele4;
     
     }
     .grid__hijo5{
         grid-area: ele5;
     }
     
     .grid__hijo6{
         grid-area: ele6;
     }
     
     .grid__hijo7{
         grid-area: ele7;
     }
     
     .grid__hijo8{
         grid-area: ele8;
     }
     
     .grid__hijo9{
         grid-area: ele9;
     }
     
     .grid__hijo10{
         grid-area: ele10;
     }
     
     .grid__hijo11{
         grid-area: ele11;
     }
     
     .grid__hijo12{
         grid-area: ele12;
     }
    


    


    .tamanoFuente{
        margin-top: 1rem;
        font-size: 45px;
        color:black;    
    }

    .fuenteTitulo{
        padding-left: 15px;   
        font-family: 'Ms Madi', cursive;
    }



    .mapa__redondo{
        width: 100%;
        height: 400px;
        border-radius: 30px;
    }


.flex__footer{
    display: flex;
    flex-direction: row;
    font-family: $fuente__principal;
    font-size: 25px;
    margin-top: 1rem;
    align-items: center;
    align-content: center;
    text-align: center;

  
}


    .columna__contactanos{
        padding-top: 15rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 1rem;
        max-width: 100%;
        max-height: 100%;
    }

    .alturamain{
        padding-top: 10rem;
    
    }
    
    .columna__contactanos{
        padding: 1rem;
    }
    
    .separar{
        padding: 5px;
        text-align: center;
        
    }
    /*
    .separacion{
        padding-bottom: 6rem;
    }
*/
    .flex__footerhijo3{
        align-items: center;
        align-content: center;
    }

.flex__footerhijo2{
    align-items: center;
    align-content: center;
    padding-top: 13px;
}
.flex__footerhijo1{
    align-items: center;
    align-content: center;
}
}




/*media queris mobile*/

@media screen and (max-width: 600px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }

  


    .tamanoFoto{
        width: 50px;
        height: 50px;
     }
     
    
    .fuenteTablaArtistas{
        font-size: 20px;
          
        }


    .indexPrueba{

        width: 100%;
        padding: 1rem;
        width: 100%;
        height: 650px;
        min-height: 100vh;
        display: grid;
        
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        grid-template-areas: 
        "ala1"
        "ala2"
        "ala3"
        "ala4"
        "ala5"
        "ala6" 
        

    }

    .indexPrueba__hijo1{
        grid-area: ala1 ;
        font-size: 20px;
        background-color:$color__principal;
    
    }
    
    .indexPrueba__hijo2{
        grid-area: ala2 ;
        font-size: 20px;
        background-color: #f57d90;
        
    }
    
    .indexPrueba__hijo3{
        grid-area: ala3 ;
        font-size: 20px;
        background-color: #f1889b;
        
    }
    
    .indexPrueba__hijo4{
        grid-area: ala4 ;
        font-size: 20px;
        background-color: #f99aaa;
        
    }
    
    .indexPrueba__hijo5{
        grid-area: ala5 ;
        font-size: 20px;
        background-color: #fdb4bf;
       
    }
    
    .indexPrueba__hijo6{
        grid-area: ala6 ;
        font-size: 20px;
        background-color: #ffcdd4;
    
    }


    .flex__links{
        display: flex;
        align-items: center;
         font-size: 15px;
        justify-content: space-between;
        gap:1px;
        padding: 1rem;
    }
    .flex__footer{
        display: flex;
        flex-direction: column;
        font-family: $fuente__principal;
        font-size: 25px;
        margin-top: 0.5rem;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .flex__footerhijo3{
        align-items: center;
        align-content: center;
        font-size: 25px;
    }

    .flex__footerhijo2{
        align-items: center;
        align-content: center;
        padding-top: 1px;
        font-size: 25px;
    }
    .flex__footerhijo1{
        align-items: center;
        align-content: center;
    }





    .grid_nuestas_artistas{
        display: grid;
      
        justify-content: center ;
        border-left: 5px;
        border-top: 10px;
        border-width: 10px;
        max-width: 90%;
        min-height: 50vh;
        align-items: center;
        padding-left: 5%;


        grid-template-areas:
        "ela1"
        "ela2"
        "ela3"
        "ela4"
        "ela5"
        "ela6"
       
        ;
    
    }

    .grid__hijos_artistas{
        align-items: center;
        align-content: center;
        font-size: 25px;
       
    }

    .grid__hijo_artistas1{
        grid-area: ela1;
       
    }
    .grid__hijo_artistas2{
        grid-area: ela2;
        padding-bottom: 50px;
    }
    .grid__hijo_artistas3{
        grid-area: ela3;
    }
    .grid__hijo_artistas4{
        grid-area: ela4;
        padding-bottom: 50px;
    }
    .grid__hijo_artistas5{
        grid-area: ela5;
    }
    .grid__hijo_artistas6{
        grid-area: ela6;
        padding-bottom: 50px;
    }
  

    /*
    .tamanoFotoArtistas{
        width: 1500px;
        height: 150px;
    }
    */


    .grid { 
        border: 1px;
        width: 100%;
        min-height: 1600px;
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 300px 400px 300px 300px 300px 400px 400px 400px 400px 400px 400px 300px;
        justify-content: center;
        margin: 0;
        row-gap: 5px;
    
        grid-template-areas:  
        "ele12"
        "ele4"
        "ele10"
        "ele5"
        "ele7"
        "ele2"
        "ele8"
        "ele1"     
        "ele9"
        "ele3"
        "ele11"
        "ele6";
    }
    
    .grid__hijo img {
        width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 50px;
    }
    
    
    
    .grid__hijo1{
        grid-area: ele1;
    }
    
    .grid__hijo2{
        grid-area: ele2;   
    }
    
    .grid__hijo3{
        grid-area: ele3;
    }
    
    .grid__hijo4{
        grid-area: ele4;
    }
    .grid__hijo5{
        grid-area: ele5;
    }
    
    .grid__hijo6{
        grid-area: ele6;
    }
    
    .grid__hijo7{
        grid-area: ele7;
    }
    
    .grid__hijo8{
        grid-area: ele8;
    }

    .grid__hijo9{
        grid-area: ele9;
    }
    
    .grid__hijo10{
        grid-area: ele10;
    }
    
    .grid__hijo11{
        grid-area: ele11;
    }
    
    .grid__hijo12{
        grid-area: ele12;
    }


  

    .tamanoFuente{
        font-size: 50px;
        color:rgb(0, 0, 0);
        margin-top: 1rem;
    }


    .mapa__redondo{

       min-width: 250px;
       min-height: 250px;  
       max-width: 100%;
       max-height: 100%;
      
        border-radius: 30px;
        
        padding-bottom: 1rem;
    }

    .columna__contactanos{
        display: flex;
        padding-top: 3rem;       
        flex-direction: row;
        align-items: center;
        align-content: center;
        max-width: 500px;
        max-height: 500px;
        min-width: 250px;
        min-height: 250px;
        
    }


    .col{
        max-width: 400px;
        max-height: 400px;
        min-width: 250px;
        min-height: 250px;
    }


   .flex__nav{
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header__open{
    display:block ;
    font-size: 50px;
    color: white;
    text-decoration: none;
    
}

#lateral {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 100;
    transition: right 1.5s;
    
}

#lateral:target{
 right: 0;
}




.nav__item--close {
    display: block;
}


.flex__links{
    display: none;  
    display: flex;      
     font-size: 50px;
     height: 5%;
     padding-top: 50%; 
      
    justify-content: flex-end;
    align-items: flex-start;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-style: bold;
 }


.navbar{
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
    }

.links{

    color:$color__principal;
    height: 1vh;
    font-size: 20px;
   font-size: 25px;
  
}




.cerrar__jam{
    display: block;
}

.tamanoFuente{
    font-size: 35px;
    color:black;    
}

.fuenteTitulo{
    padding-left: 15px;   
    font-family: $fuente__principal;
}


header{
    background-color: $color__principal;
  
    .header__open{ /*icono*/
        display: block;
       }


}

.alturamain{
    padding-top: 6rem;

}

.columna__contactanos{
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
}


.separar{
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}


.separacion{
    padding-bottom: 6rem;
}

.flex__home{
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0rem;
    margin-left: 0.02rem;
    border:solid 1px black;
    text-align: center;
    
    width: 100%;
    min-width: 320px;

}

.flex__home__index{
    margin: 0.1rem;
    min-width: 300px;
    
}
.flex__home__hijo1{
    grid-area:hij1;
    margin: 1rem;
    }
    
    .flex__home__hijo2{
    grid-area:hij2;
    margin: 1rem;
    
    }
    
    .flex__home__hijo3{
    grid-area:hij3;
    margin: 1rem;
    

    }



.img__home{
    max-width: 300px;
    max-height: 300px;
    border-radius: 50px;
   
}

.texto__home1{
    font-family: $fuente__principal;
    font-size:25px;
    text-align: center;
    text-indent: 10px;
    text-shadow: $sombra__texto;
}

.texto__home2{
    font-family: $fuente__principal;
    font-size:25px;
    text-align: center;
    text-shadow: $sombra__texto;
}

.colorRedes {
    color:$color__principal;
    text-decoration: none;
    text-shadow: $sombra__texto;
    font-size: 25px;  
}

.flex__footerhijo2{
    text-shadow: $sombra__texto;
    font-size: 25px; 
   
}


.carousel{  
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.w-80{
    max-width: 310px;
    max-height: 200px;
    border-radius: 50px;
}

.tamanoImg {
    width: 80px;
    height: 80px;
    border-radius: 1000px;
}
}